Nav {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    color: white;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    list-style-type: none; 
    cursor: pointer
    
}

li:hover {
    background-color: #ffd137;
}

img {
height: 40px;
margin-top: 12px;
margin-right: 0px;
width: 100px;
cursor: pointer;

}

.h1 {
    display: flex;
    color: #ffd137;
    
}

.menu {
    top: 0;
    bottom: 0;
    height: 300px;
    width: 100vw;
    background: black;
    position: fixed;
    transform: translateY(-500px);
    
    
}
.drop-down {
    background: #212629;
    
}


.hidden-by-default {
    display: none;
    
}

.nav-menu-open, .nav-menu-close {
    display: block;
    animation: open .7s forwards linear;
}

.nav-menu-close {
    animation-direction: reverse;
    animation: close .6s forwards linear;

}

@keyframes open {
    to {
        transform: translateY(0px);
    }
}

@keyframes close {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateY(-400px);
    }
}



@media (max-width: 1100px) {
    li {
        display: none;
    }

    .Imgg {
        display: block;
    }



    
    

} 